<div class="banner" style="background-image: url('https://source.unsplash.com/random');">
  <div class="banner-content">
    <h1>Cocktail book</h1>
    <p>Best cocktails ever</p>

    <%= form_tag(cocktails_path, :method => "get", class: "navbar-wagon-search", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search for an ingredient", class: "form-control border-radius" %>
        <button type="submit" class="btn btn-danger"><i class="fa fa-search"></i></button>
      <% end %>

  </div>
</div>

<div class="wrapper" id="content-wrapper">
  <div class="container">

    <div class="row">
      <div class="text-center padded">
        <%= link_to "See list of ingredients", ingredients_path, {class: "btn btn-danger"} %>
        <%= link_to "See all cocktails", cocktails_path, {class: "btn btn-danger"} %>
        <% if params[:search] %>
          <h1>List of cocktails with <%= params[:search] %></h1>
        <% else %>
          <h1>List of cocktails</h1>
        <% end %>
      </div>
    </div>

    <div id="card-container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: url('https://source.unsplash.com/random');">
              <%= link_to cocktail.name, cocktail_path(cocktail), {class: "card-category"}%>
            </div>
          </div>
        <% end %>
      </div>
    </div>


  </div>

  <div class="row text-center padded">
    <div class="col-xs-12">
      <%= link_to "Create a new cocktail", new_cocktail_path, {class: "btn btn-danger"} %>
    </div>
  </div>
</div>

