<h1>Cocktail's details</h1>
<ul>
  <li>
    <h2><%= @cocktail.name %></h2>
      <% @cocktail.doses.each do |dose| %>
        <p><%= dose.ingredient.name %> :
          <%= dose.description %>
          <%= link_to "Delete this dose", cocktail_dose_path(@cocktail, dose), method: :delete %>
        </p>
      <% end %>

    <%#= link_to "Add a dose to this cocktail", new_cocktail_dose_path(@cocktail) %>

    <h3>Add a dose to this cocktail</h3>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient_id, collection: @ingredients %>
      <%= f.input :description %>
      <%= f.submit "Add a dose", class: "btn btn-primary" %>
    <% end %>
  </li>
</ul>

<%= link_to "Back to index", cocktails_path %>
