<div class="container">
  <br>
  <div class="row">< <%= link_to "Back to index", cocktails_path %></div>
  <div class="row text-center">
    <h1>Cocktail's details</h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div id="cocktail_picture" style="background-image: url('https://source.unsplash.com/random');">
          <div id="image_wrapper">
            <div id="cocktail-name" class="text-center"><%= @cocktail.name %></div>
              <div class="row">
              <% @cocktail.doses.each do |dose| %>
              <p><%= dose.ingredient.name %> :
                <%= dose.description %>
                <%= link_to "Delete this dose", cocktail_dose_path(@cocktail, dose), method: :delete %>
              </p>
            <% end %>
            </div>
        </div>
        </div>
        </div>
      </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form_wrapper" id="dose_form_wrapper">
            <h3>Add a dose to this cocktail</h3>

            <%= simple_form_for [@cocktail, @dose] do |f| %>
              <%= f.input :ingredient_id, collection: @ingredients %>
              <%= f.input :description %>
              <%= f.submit "Add a dose", class: "btn btn-primary" %>
            <% end %>

      </div>
    </div>


  </div>
</div>
